<div class="row">
  <form>
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="name">Feladat címe</label>
        <input
          type="text"
          id="title"
          class="form-control"
          #titleInput
        >
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" type="submit">Mentés</button>
    <button class="btn btn-danger" type="submit">Törlés</button>
    <button class="btn btn-primary" type="submit">Mégse</button>
  </div>
</div>
