<div class="row">
  <div class="col-xs-12">
    <h4>Ügyfél adatok</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    Azonosító: {{clientItem.UfAzon}}
  </div>

  <div class="col-xs-5">
    Név: {{clientItem.UfNev}}
  </div>

  <div class="col-xs-5">
    Kapcsolat: {{clientItem.UfKapcsolat}}
  </div>

  <div class="col-xs-1">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Ügyfél kezelése
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Új projekt létrehozása</a>
        </li>
        <li>
          <a href="#"> Ügyfél szerkesztése</a>
        </li>
        <li>
          <a href="#"> Ügyfél törlése</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-1">
          <label>Azonosító</label>
        </div>

        <div class="col-sm-4">
          <label for="UfNev">Név</label>
          <input type="text" id="UfNev" class="form-control" />
        </div>

        <div class="col-sm-5">
          <label for="UfKapcsolat">Kapcsolat</label>
          <input type="text" id="UfKapcsolat" class="form-control" />
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success">Mentés</button>
          <button type="button" class="btn btn-danger">Mégse</button>
        </div>
      </div>
    </form>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    Kapcsolódó projektek
  </div>
</div>
